.products
{
    background-color: #ecf2f8;
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px 12px;
    justify-content: center;
   padding: 4px;
}
.card
{
border: 2px solid rgb(152, 152, 159);
/* height: 350px; */
width: 12rem;
}


#images
{
  height: 12rem
}
#AddToWish:hover
{
cursor: pointer;
}

@media screen and (max-width:400px){
    .card{
        width:15rem;
    }
}